/.idea/.idea.Labirynth/.idea
/LabyrinthApp/bin/Debug/net7.0
/LabyrinthApp/obj/Debug/net7.0
/LabyrinthApp/obj
/Visualisation/bin/Debug/net6.0-windows
/Visualisation/obj/Debug/net6.0-windows
/Visualisation/obj
/Visualisation/Visualisation.csproj.user
/LabyrinthCore/obj/Debug
/LabyrinthCore/bin/Debug
